<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Lynxoft test{% endblock title %}</title>
    <link href=http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles.css">
</head>
<body>
<div id="menu">
    <h1 class="header">Lynxoft</h1>
    <ul class="navigation">
        <li><a href="/mysite/">Home</a></li>
        <li><a href="/mysite/phrases_per_date">Phrases per date</a></li>
        <li><a href="/mysite/wordcount">Word count per phrase</a></li>
        <li><a href="/mysite/rotations">Rotations in the phrases</a></li>
    </ul>
</div>
<div id="container">
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>
